@font-face {
  font-family: 'Work Sans';
  font-weight: 100 900;
  src: url('/esn-upm-website/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 100 900;
  font-style: italic;
  src: url('/esn-upm-website/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Crimson Text';
  font-weight: normal;
  src: url('/esn-upm-website/fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: normal;
  src: url('/esn-upm-website/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  font-weight: normal;
  src: url('/esn-upm-website/fonts/Pacifico-Regular.ttf') format('truetype');
}

pink{color:var(--pink);}

:root {
  /* --------------- Desktop Font Options --------------- */
  --h1-desktop: clamp(2.875rem, 2.4rem + 0.816vw, 3.625rem); /* 58px to 46px */
  --h3-desktop: clamp(1.125rem, 0.857rem + 0.714vw, 1.5rem);    /* 24px to 18px */

  --p-desktop: clamp(0.938rem, 0.823rem + 0.408vw, 1.313rem);  /* 21px to 15px */
  
  --footer-desktop: clamp(0.625rem, 0.51rem + 0.408vw, 1rem);  /* 16px to 10px */

  /* ------- Mobile Font Options - 450px to 320px ------- */
  
  --h1-mobile: clamp(2.25rem, 0.712rem + 7.692vw, 2.875rem);      /* 46px to 36px */
  --h3-mobile: clamp(0.875rem, 0.6rem + 3.077vw, 1.125rem);      /* 18px to 14px */

  --p-mobile: clamp(0.688rem, 0.072rem + 3.077vw, 0.938rem);      /* 15px to 11px */

  --footer-mobile: clamp(0.563rem, 0.409rem + 0.769vw, 0.625rem); /* 10px to  9px */


  /* ---------------------- Colors ---------------------- */
  --background : #ffffff;

  --primary-color: #1D1D1B;
  --secondary-color: #a7a7a7;

  --blue-light: #00AEF0;
  --blue-dark: #2E3192;
  --green: #7BC143;
  --pink: #EC008C;
  --purple: #532AFF;
  --orange: #F57B20;
  --gray: #333333;
}

/* ------------------ Common elements ------------------ */

* {
  font-family: Work Sans, serif;
  font-weight: 450;
}

html {
  background-color: var(--background);
  font-optical-sizing: auto;
  /*overflow-x: hidden;*/
  overflow-x: hidden;
  overscroll-behavior: none;
}



h1 {
  font-size: var(--h1);
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-weight: 400;
  margin: 0;
}

nav p, nav a {
  font-size: clamp(0.875rem, 0.719rem + 0.313vw, 1rem); /* Font 16px to 14px, VW 1440px to 800px */
  font-weight: 450;
}

p{
  font-size: var(--p);
  font-weight: 300;
  margin: 0;
}

p-btn{
  font-size: var(--p);
  font-weight: 500;
  margin: 0;
}

p-btn > *{
  font-size: var(--p);
  font-weight: 500;
  margin: 0;
}

footer *{
  font-size: var(--footer);
  font-weight: 350;
}

i {
  font-weight: bold;
}

a {text-decoration: none; color: #9d9d9d;transition: all 0.25s ease;}


@media (min-width: 768px) {
  h1 { font-size: var(--h1-desktop); }
  h3 { font-size: var(--h3-desktop); }

  p { font-size: var(--p-desktop); }
  
  footer * { font-size: var(--footer-desktop); }
}
@media (max-width: 767px) {
  h1 { font-size: var(--h1-mobile); }
  h3 { font-size: var(--h3-mobile); }

  p { font-size: var(--p-mobile); }

  .btn { font-size: var(--btn-mobile); }
  footer * { font-size: var(--footer-mobile); }
}

crimson{font-family: 'Crimson Text', serif;}
crimson > *{font-family: 'Crimson Text', serif;}

pacifico{font-family: 'Pacifico', cursive;}
pacifico > *{font-family: 'Pacifico', cursive;}

ibm{font-family: 'IBM Plex Mono', monospace;}
ibm > *{font-family: 'IBM Plex Mono', monospace;}

blue {color: var(--blue-light);}
green {color: var(--green);}
orange {color: var(--orange);}
pink {color: var(--pink);}
purple {color: var(--purple);}
gray {color: var(--gray);}


.gradient-font {
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(100, 100, 100, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
