@font-face {
  font-family: 'Work Sans';
  font-weight: 100 900;
  src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 100 900;
  font-style: italic;
  src: url('../fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
}

pink{color:var(--pink);}

:root {
  /* Font Options */
  --h1: clamp(1.5rem, 0rem + 3.2vw, 3rem);
  --h1-mobile: 46px;

  --h2: clamp(0.75rem, 0rem + 1.6vw, 1.5rem);
  --h3: clamp(0.625rem, 0rem + 1.333vw, 1.25rem);
  --h3-mobile: 18px;

  --p: clamp(0.5rem, 0rem + 1.067vw, 1rem);
  --p-mobile: 15px;

  --navbar: clamp(0.563rem, 0rem + 1.2vw, 1.125rem);
  
  --btn-mobile: 10px;


  --footer: clamp(0.438rem, 0rem + 0.933vw, 0.875rem);
  --footer-mobile: 10px;

  /* Colors */
  --background : #ffffff;

  --primary-color: #1D1D1B;
  --secondary-color: #a7a7a7;

  --blue-light: #00AEF0;
  --blue-dark: #2E3192;
  --green: #7BC143;
  --pink: #EC008C;
  --orange: #F57B20;
  --gray: #333333;
}

/* ------- Common elements ------- */

* {
  font-family: Work Sans, serif;
  font-weight: 450;
}

html {
  background-color: var(--background);
  font-optical-sizing: auto;
  /*overflow-x: hidden;*/
  overflow-x: hidden;
}



h1 {
  font-size: var(--h1-mobile);
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3-mobile);
  font-weight: 400;
  margin: 0;
}



p{
  font-size: var(--p-mobile);
  font-weight: 300;
  margin: 0;
}



nav {
  font-size: var(--navbar);
}

footer *{
  font-size: var(--footer-mobile);
  font-weight: 350;
}

i {
  font-weight: bold;
}

a {text-decoration: none;}




.gradient-font {
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(100, 100, 100, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
