---
import '../styles/global.css'

import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout pageTitle="Home">
		
				
	<div class="hero">
		<div class="left-image">
			<img src="https://placehold.co/400x450" alt="ESN Madrid UPM">
		</div>
		<div class="middle-text">
			<h1>ESN Madrid UPM</h1>
			<p>
				Erasmus Student Network (ESN) es una de las mayores asociaciones de estudiantes sin ánimo de lucro en Europa, fundada en 1989 para la ayuda y el desarrollo del intercambio de estudiantes. 
				<br><br>
				Estamos presentes en 520 Instituciones de 42 países.
			</p>
		</div>
		<div class="right-image">
			<img src="https://placehold.co/400x450" alt="ESN Madrid UPM">
		</div>
	</div>

	<div class="first-steps">
		<div class="centered-blur"> 
			<h2>Primeros pasos</h2>
			<p>
				¿Eres un estudiante de intercambio en la UPM? ¿Quieres conocer a gente nueva y descubrir Madrid? ¡Estás en el lugar correcto! 
				<br><br>
				En ESN Madrid UPM organizamos eventos y actividades para que puedas disfrutar de tu estancia en Madrid al máximo. 
				<br><br>
				¡Descubre cómo puedes unirte a nosotros!
			</p>
		</div>
	</div>


	<div class="map-esncard">
		<div class="map">
		</div>
		<div class="esncard">
		</div>
	</div>

	<div class="contact-calendar">
		<div class="contact">
		</div>
		<div class="calendar">
		</div>
	</div>


</StandardLayout>

<!-- ------ Local style ------ -->

<style>
	.hero {
		width: 100%;
		background-color: var(--primary-color);
		height: 450px;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		gap: 1rem;

		text-align: center;

		color: #ffffff;
	}

	.first-steps {
		width: 100%;
		background-image: url('/images/welcome-banner.png');
		background-size: cover;
		height: 397px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		gap: 1rem;

		text-align: center;

		color: var(--primary-color);
	}

	.centered-blur {
		background: linear-gradient(0.25turn, #a0e6ff9d, #ffb78482);
		backdrop-filter: blur(30px);
		padding: 1rem;
		width: 100%;
	}

	.map-esncard {
		width: 100%;
		height: 400px;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.map {
		width: 50%;
		height: 100%;
		background: var(--pink);
	}

	.esncard {
		width: 50%;
		height: 100%;
		background: #C3EFFF;
	}

	.contact-calendar {
		width: 100%;
		height: 550px;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		background: #E9D4FF;
	}

</style>
