
<div class="color-strip">
    {Array.from({ length: 5 }).map(() => (
        <div class="color-rectangle" style="background-color: var(--blue-light);"></div>
        <div class="color-rectangle" style="background-color: var(--pink);"></div>
        <div class="color-rectangle" style="background-color: var(--green);"></div>
        <div class="color-rectangle" style="background-color: var(--orange);"></div>
    ))}
</div>

<footer transition:name="footer">
    <div class="left-col">
        <img src="/images/logo-upm.svg" alt="Logo">
    </div>
    <div class="mid-col">
        <a>AVISO LEGAL</a>
        <a>POLÍTICA DE PRIVACIDAD</a>
        <a>POLÍTICA DE COOKIES</a>
        <a>NORMATIVA</a>
        <a>CONDICIONES</a>
    </div>
    <div class="right-col">
        <p>ESN Madrid UPM is part of ESN Madrid Erasmus</p>
        <img src="/images/esn-logo-white.png" alt="Logo">
    </div>
</footer>

<style>
    .color-strip {
        display: flex;
        height: 5px;
        width: 100%;
    }

    .color-rectangle {
        flex: 1;
    }
    
    footer {
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
        padding: 1rem 2.5rem;

        height: 12vw;
    }

    footer * {
        font-weight: 350;
    }

    .left-col {
        height: 100%;
        align-items: center;
        display: flex;
    }

    img {
        height: 50%;
    }

    .right-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 100%;
    }

    .right-col p {
        color: #ffffff;
    }

    .mid-col {
        text-align: center;
        color: var(--blue-light);
    }

    a::after {
        color: #ffffff;
        content: " | ";
    }

</style>