
<div class="color-strip">
    {Array.from({ length: 3 }).map(() => (
        <div class="color-rectangle" style="background-color: var(--blue-light);"></div>
        <div class="color-rectangle" style="background-color: var(--pink);"></div>
        <div class="color-rectangle" style="background-color: var(--green);"></div>
        <div class="color-rectangle" style="background-color: var(--orange);"></div>
    ))}
</div>

<footer transition:name="footer">
    <div class="upm-esn-logos">
        <img id="upm-logo" src="/esn-upm-website/images/logo-upm.svg" alt="Logo UPM">
    
        <div class="esn-logo">
            <p>ESN Madrid UPM is part of ESN Madrid Erasmus</p>
            <img id="esn-logo-white" src="/esn-upm-website/images/esn-logo-white.png" alt="Logo">
        </div>
    </div>

    <div class="legal-text">
        <a>AVISO LEGAL</a>
        <a>POLÍTICA DE PRIVACIDAD</a>
        <a>POLÍTICA DE COOKIES</a>
        <a>NORMATIVA</a>
        <a>CONDICIONES</a>
    </div>
</footer>

<style>
    .color-strip {
        display: flex;
        height: 5px;
        width: 100%;
    }

    .color-rectangle {flex: 1;}
    
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 195px;
        gap: 30px;

        background-color: var(--primary-color);

    }

    .legal-text {
        display: inline-block;
        text-align: center;

        width: 100%;

        color: white;
    }

    .legal-text a {
        color: var(--blue-light);
    }

    .upm-esn-logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        
        height: fit-content;
        width: 100%;

        padding: 0 10px;
    }

    .esn-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 135px;
        gap: 5px;

        color: white;
        text-align: right;
    }

    a::after {
        color: #ffffff;
        content: " | ";
    }

    #upm-logo {
        width: 150px;
    }

    #esn-logo-white {
        width: inherit;
    }

    @media (min-width: 768px) {
        footer{
            height: 295px;
        }
        #upm-logo {
            width: 300px;
        }
        .upm-esn-logos {
            padding: 0 50px;
        }
        .esn-logo {
            width: 230px;
        }
        #esn-logo-white {
            width: inherit;
        }

    }
</style>