---
import Button from './Button.astro'
import Language from './Language.astro'

const repo = "/esn-upm-website"
---

<div class="color-strip">
    {Array.from({ length: 5 }).map(() => (
        <div class="color-rectangle" style="background-color: var(--blue-light);"></div>
        <div class="color-rectangle" style="background-color: var(--pink);"></div>
        <div class="color-rectangle" style="background-color: var(--green);"></div>
        <div class="color-rectangle" style="background-color: var(--orange);"></div>
    ))}
</div>

<div style="display: flex; flex-direction: column;">
    <nav class="top-nav">
        
        <img id="esnLogo" src="/esn-upm-website/images/esn-logo.png" alt="Logo ESN">

        <div id="nav-full-link">
            <a href="/">Home</a>
            <a href="https://esnupm.org/es/firststeps">First Steps</a>
            <a href="https://esnupm.org/es/esncard"><blue><i>ESN</i></blue>card</a>
            <a href="https://esnupm.org/es/descuentos">Descuentos</a>
            <a href="https://esnupm.org/es/eventos">Eventos</a>
            <Button innerHtml="<p-btn><pink><i>ยก</i></pink>Quiero ser <pink><i>voluntario!</i></pink></p-btn>" type="invert" bgcolor="black" labelcolor="white"/>
        </div>

        <div id="lang-select-full">
            <p>Idioma</p>
            <div><Language /></div>
        </div>

        <a id="burger-mobile" >
            <svg width="40" height="40"><use href="#hamburger" /></svg>
        </a>
    </nav>

    <div style="display: flex; flex-direction: column;">
        <span id="background-span"></span>
        <nav class="side-nav">
            <a href="/">Home</a>
            <a href="https://esnupm.org/es/firststeps">First Steps</a>
            <a href="https://esnupm.org/es/esncard"><blue><i>ESN</i></blue>card</a>
            <a href="https://esnupm.org/es/descuentos">Descuentos</a>
            <a href="https://esnupm.org/es/eventos">Eventos</a>
            <Button innerHtml="<p-btn><pink><i>ยก</i></pink>Quiero ser <pink><i>voluntario!</i></pink></p-btn>" type="invert fixed-w" bgcolor="black" labelcolor="white" w="100px"/>
            <div id="lang-select-mobile">
                <p>Idioma</p>
                <Language />
            </div>
        </nav>
    </div>
</div>

<!-- ------ Local style ------ -->

<style>
    .color-strip {
        display: flex;
        height: 5px;
        width: 100%;
    }

    .color-rectangle {
        flex: 1;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        z-index: 1000;

        height: fit-content;
        padding: 0 10px;

        background-color: #ffffff;
    }

    #background-span {
        position: absolute;
        height: 100vh;
        width: 100%;

        z-index: -2;

        background-color: rgba(0, 0, 0, 0.5);

        transition: opacity 0.25s ease;
        transform: translateX(-200%);
        opacity: 0;
    }
    
    .side-nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        z-index: -1;

        height: 100%;
        width: 50%;

        padding-top: 40px;
        gap: 50px;

        background-color: #ffffff;

        position: fixed;
        right: 0;

        box-shadow: 0 4px 40px 5px rgba(0, 0, 0, 0.8);

        transition: all 0.5s ease;
        transform: translateX(100%);

    }

    .side-nav a {
        color: var(--primary-color);
    }

    svg {
        transition: all 0.1s ease;
    }

    #esnLogo {
        width: 130px;
    }

    #nav-full-link {
        display: none;
        
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    #burger-mobile {
        display:contents;
    }

    #lang-select-full {
        display: none;
        
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }

    #lang-select-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 10px;
    }

    @media (min-width: 768px) {

        #esnLogo {
            width: 160px;
        }

        .top-nav {
            padding: 0 clamp(0.625rem, -2.5rem + 6.25vw, 3.125rem); /* Padding 50px to 10px, VW 1440px to 800px */
        }

        #nav-full-link {
            display: flex;
        }

        #burger-mobile {
            display: none;
        }

        #lang-select-full {
            display: flex;
        }

        #lang-select-full div {
            width: 65px;
            height: 35px;
        }

    }

    a:hover {
        transition: all 0.25s ease;
        transform: scale(1.05);
        color: var(--primary-color);
    }

</style>

<script>

    document.addEventListener('astro:page-load', () => {
        const sideNav = document.querySelector<HTMLDivElement>('.side-nav') as HTMLDivElement;
        const burger = document.querySelector('#burger-mobile') as HTMLAnchorElement;
        const backgroundSpan = document.querySelector<HTMLSpanElement>('#background-span') as HTMLSpanElement;

        burger.addEventListener('click', () => {
            sideNav.style.transform = sideNav.style.transform === 'translateX(100%)' ? 'translateX(0)' : 'translateX(100%)';
            backgroundSpan.style.opacity = backgroundSpan.style.opacity === '0' ? '1' : '0';
            backgroundSpan.style.transform = backgroundSpan.style.transform === 'translateX(-200%)' ? 'translateX(0)' : 'translateX(-200%)';
        });

        backgroundSpan.addEventListener('click', () => {
            sideNav.style.transform = 'translateX(100%)';
            backgroundSpan.style.opacity = '0';
            backgroundSpan.style.transform = 'translateX(-200%)';
        });

    });

</script>


<svg width="0" height="0" style="display:none">
    <symbol id="hamburger" viewBox="0 0 24 24">
        <path xmlns="http://www.w3.org/2000/svg" d="M20 7L4 7" stroke="#1d1d1b" stroke-width="1.5" stroke-linecap="round"/>
        <path xmlns="http://www.w3.org/2000/svg" opacity="0.5" d="M20 12L4 12" stroke="#3d3d3a" stroke-width="1.5" stroke-linecap="round"/>
        <path xmlns="http://www.w3.org/2000/svg" d="M20 17L4 17" stroke="#1d1d1b" stroke-width="1.5" stroke-linecap="round"/>
    </symbol>
</svg>

<!--
<script>
    document.addEventListener('astro:page-load', () => {
        const nav = document.querySelector('.nav');
        const links = nav.querySelectorAll('a');

        links.forEach(a => {
            if (a.href === window.location.href) {
                a.style.color = 'var(--primary-color)';
            }            
        });
    });

</script>
-->